@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  /* --color-mint-500: oklch(0.72 0.11 178);
  --color-pri: oklch(0.72 0.11 178);
  --color-sec: oklch(0.76 0.25 10); */

  --color-text: oklab(14.4% -0.024 -0.01);
  --color-bg: oklab(99.26% -0.01 -0);
  --color-pri: oklab(89.62% -0.145 -0.04);
  --color-sec: oklab(72.59% 0.157 0.06);
  --color-accent: oklab(95.61% -0.06 0.18);
}

[data-theme='light'] {
  --color-text: oklab(14.4% -0.024 -0.01);
  --color-bg: oklab(94.929% -0.00789 0.00026);
  --color-pri: oklab(89.62% -0.145 -0.04);
  --color-sec: oklab(44.873000000000005% 0.15723 0.08579);
  --color-accent: oklab(95.61% -0.06 0.18);
}

[data-theme='dark'] {
  --color-text: oklab(98.9% -0.015 -0);
  --color-bg: oklab(13.11% -0.022 -0.01);
  --color-pri: oklab(85.25% -0.139 -0.04);
  --color-sec: oklab(59.772000000000006% 0.16962 0.07565);
  --color-accent: oklab(95.61% -0.06 0.18);
}
/* --color-sec: oklab(72.59% 0.157x 0.06); */
/* --color-accent: oklab(78.49% -0.049 0.16); */

/* 
[data-theme="light"] {
  --text-50: oklab(98.12% -0.026 -0.01);
  --text-100: oklab(96.50% -0.049 -0.01);
  --text-200: oklab(93.80% -0.092 -0.03);
  --text-300: oklab(91.93% -0.124 -0.03);
  --text-400: oklab(90.89% -0.143 -0.04);
  --text-500: oklab(90.54% -0.149 -0.04);
  --text-600: oklab(76.53% -0.126 -0.03);
  --text-700: oklab(61.83% -0.102 -0.03);
  --text-800: oklab(46.20% -0.076 -0.02);
  --text-900: oklab(29.07% -0.048 -0.01);
  --text-950: oklab(19.37% -0.031 -0.01);

  --background-50: oklab(98.12% -0.026 -0.01);
  --background-100: oklab(96.50% -0.049 -0.01);
  --background-200: oklab(93.80% -0.092 -0.03);
  --background-300: oklab(91.93% -0.124 -0.03);
  --background-400: oklab(90.89% -0.143 -0.04);
  --background-500: oklab(90.54% -0.149 -0.04);
  --background-600: oklab(76.53% -0.126 -0.03);
  --background-700: oklab(61.83% -0.102 -0.03);
  --background-800: oklab(46.20% -0.076 -0.02);
  --background-900: oklab(29.07% -0.048 -0.01);
  --background-950: oklab(19.37% -0.031 -0.01);

  --primary-50: oklab(97.99% -0.024 -0.01);
  --primary-100: oklab(96.30% -0.048 -0.02);
  --primary-200: oklab(93.37% -0.089 -0.03);
  --primary-300: oklab(91.24% -0.121 -0.04);
  --primary-400: oklab(89.94% -0.139 -0.04);
  --primary-500: oklab(89.33% -0.145 -0.04);
  --primary-600: oklab(75.51% -0.123 -0.04);
  --primary-700: oklab(61.03% -0.100 -0.03);
  --primary-800: oklab(45.62% -0.074 -0.02);
  --primary-900: oklab(28.76% -0.047 -0.01);
  --primary-950: oklab(19.32% -0.032 -0.01);

  --secondary-50: oklab(94.52% 0.026 0.01);
  --secondary-100: oklab(88.99% 0.055 0.02);
  --secondary-200: oklab(78.93% 0.113 0.04);
  --secondary-300: oklab(70.47% 0.171 0.07);
  --secondary-400: oklab(64.82% 0.211 0.10);
  --secondary-500: oklab(62.64% 0.224 0.12);
  --secondary-600: oklab(52.92% 0.190 0.10);
  --secondary-700: oklab(42.73% 0.153 0.08);
  --secondary-800: oklab(31.91% 0.114 0.06);
  --secondary-900: oklab(20.19% 0.073 0.04);
  --secondary-950: oklab(13.46% 0.050 0.02);

  --accent-50: oklab(99.15% -0.008 0.03);
  --accent-100: oklab(98.35% -0.017 0.06);
  --accent-200: oklab(96.96% -0.035 0.11);
  --accent-300: oklab(95.93% -0.049 0.16);
  --accent-400: oklab(95.18% -0.058 0.18);
  --accent-500: oklab(94.65% -0.059 0.19);
  --accent-600: oklab(80.01% -0.050 0.16);
  --accent-700: oklab(64.66% -0.041 0.13);
  --accent-800: oklab(48.32% -0.031 0.10);
  --accent-900: oklab(30.53% -0.019 0.06);
  --accent-950: oklab(20.66% -0.015 0.04);

}

[data-theme="dark"] {
  --text-50: oklab(19.37% -0.031 -0.01);
  --text-100: oklab(29.07% -0.048 -0.01);
  --text-200: oklab(46.20% -0.076 -0.02);
  --text-300: oklab(61.83% -0.102 -0.03);
  --text-400: oklab(76.53% -0.126 -0.03);
  --text-500: oklab(90.54% -0.149 -0.04);
  --text-600: oklab(90.89% -0.143 -0.04);
  --text-700: oklab(91.93% -0.124 -0.03);
  --text-800: oklab(93.80% -0.092 -0.03);
  --text-900: oklab(96.50% -0.049 -0.01);
  --text-950: oklab(98.12% -0.026 -0.01);

  --background-50: oklab(19.37% -0.031 -0.01);
  --background-100: oklab(29.07% -0.048 -0.01);
  --background-200: oklab(46.20% -0.076 -0.02);
  --background-300: oklab(61.83% -0.102 -0.03);
  --background-400: oklab(76.53% -0.126 -0.03);
  --background-500: oklab(90.54% -0.149 -0.04);
  --background-600: oklab(90.89% -0.143 -0.04);
  --background-700: oklab(91.93% -0.124 -0.03);
  --background-800: oklab(93.80% -0.092 -0.03);
  --background-900: oklab(96.50% -0.049 -0.01);
  --background-950: oklab(98.12% -0.026 -0.01);

  --primary-50: oklab(19.32% -0.032 -0.01);
  --primary-100: oklab(28.76% -0.047 -0.01);
  --primary-200: oklab(45.62% -0.074 -0.02);
  --primary-300: oklab(61.03% -0.100 -0.03);
  --primary-400: oklab(75.51% -0.123 -0.04);
  --primary-500: oklab(89.33% -0.145 -0.04);
  --primary-600: oklab(89.94% -0.139 -0.04);
  --primary-700: oklab(91.24% -0.121 -0.04);
  --primary-800: oklab(93.37% -0.089 -0.03);
  --primary-900: oklab(96.30% -0.048 -0.02);
  --primary-950: oklab(97.99% -0.024 -0.01);

  --secondary-50: oklab(13.46% 0.050 0.02);
  --secondary-100: oklab(20.19% 0.073 0.04);
  --secondary-200: oklab(31.91% 0.114 0.06);
  --secondary-300: oklab(42.73% 0.153 0.08);
  --secondary-400: oklab(52.92% 0.190 0.10);
  --secondary-500: oklab(62.64% 0.224 0.12);
  --secondary-600: oklab(64.82% 0.211 0.10);
  --secondary-700: oklab(70.47% 0.171 0.07);
  --secondary-800: oklab(78.93% 0.113 0.04);
  --secondary-900: oklab(88.99% 0.055 0.02);
  --secondary-950: oklab(94.52% 0.026 0.01);

  --accent-50: oklab(20.66% -0.015 0.04);
  --accent-100: oklab(30.53% -0.019 0.06);
  --accent-200: oklab(48.32% -0.031 0.10);
  --accent-300: oklab(64.66% -0.041 0.13);
  --accent-400: oklab(80.01% -0.050 0.16);
  --accent-500: oklab(94.65% -0.059 0.19);
  --accent-600: oklab(95.18% -0.058 0.18);
  --accent-700: oklab(95.93% -0.049 0.16);
  --accent-800: oklab(96.96% -0.035 0.11);
  --accent-900: oklab(98.35% -0.017 0.06);
  --accent-950: oklab(99.15% -0.008 0.03);

} */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --step-5: clamp(1.802rem, 0.9693rem + 4.1637vw, 4.1962rem);
  --step-4: clamp(1.6018rem, 0.9913rem + 3.0524vw, 3.3569rem);
  --step-3: clamp(1.4238rem, 0.985rem + 2.1943vw, 2.6855rem);
  --step-2: clamp(1.2656rem, 0.9586rem + 1.5353vw, 2.1484rem);
  --step-1: clamp(1.125rem, 0.9185rem + 1.0326vw, 1.7188rem);
  --step-0: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
  --step--1: clamp(0.8889rem, 0.8155rem + 0.3671vw, 1.1rem);
  --step--2: clamp(0.7901rem, 0.7589rem + 0.1563vw, 0.88rem);
}

#root {
  min-height: 100vh;
  width: 100vw;
}

h1 {
  font-size: var(--step-5);
  font-weight: bold;
}

h2 {
  font-size: var(--step-4);
  font-weight: bold;
}

h3 {
  font-size: var(--step-3);
  font-weight: bold;
}

h4 {
  font-size: var(--step-2);
  font-weight: bold;
}

h5 {
  font-size: var(--step-1);
  font-weight: bold;
}

h6 {
  font-size: var(--step--2);
  font-weight: bold;
}

.text-sm-scale {
  font-size: var(--step--2);
}

.text-md-scale {
  font-size: var(--step--1);
}

.text-lg-scale {
  font-size: var(--step-1);
}

.text-2lg-scale {
  font-size: var(--step-2);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
} */
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}

/* ========== */
